<%= stylesheet_link_tag "main.css" %>
<header>
  <h1 id="page_title">Contact Me</h1>
  <nav class="resume_nav">
    <ul class="main_nav">
      <a href="/"><li>Home</li></a>
      <a href="#about"><li>About</li></a>
      <li>Work</li>
      <a href="/cv"><li>CV</li></a>
      <a href="/contact"><li>Contact</li></a>
    </ul>
  </nav>
</header>
<div class="form_wrap">
  <%= form_for create_path do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true%>

    <br>

    <%= f.label :email %><br>
    <%= f.text_field :email, required: true%>

    <br>

    <%= f.label :content %><br>
    <%= f.text_area :content, as: :text %>

    <div class="hidden" style="visibility: hidden;">
      <%= f.label :nickname %><br>
      <%= f.text_area :nickname, hint: 'leave this field blank' %>
    </div>

    <%= f.submit 'Send Message', class:"contact_submit"%>

  <% end %>
</div>
